html
    head
        link(rel='stylesheet', href='./css/style.css')
    body 
        include components/form
        if productsArray.length === 0
            p='No se encontraron productos'
        else
            include components/table
    script(src="/socket.io/socket.io.js")
    script(src="../js/main.js")