form(action='/api/products' method='POST')
    label(for='title')='Título'
    input(type='text', name='title', id:'title')
    br

    label(for='price')='Precio' 
    input(type='number', name='price', id='price')
    br

    label(for='image')='Imagen URL' 
    input(type='string', name='image', id='image')
    br

    input(type='submit', value='Enviar')