html
  head
  body 
    h1='Chat de Dune'
    section(id='chatMessages')
      div(class='message')
        span(class='messageUser')='Bot dice: '
        span(class='messageText')='Bienvenido'
    div
      form(action="" method='POST' id='messageForm')
        label(for="inputMessage")='Mensaje: '
        input(type="text" name="inputMessage" id='inputMessage')
        input(type="submit" value="Enviar mensaje", submitMessage)
    script(src="/socket.io/socket.io.js") 
    script(src="../js/chat.js") 